{% extends "base.html" %}
{% load bootstrap3 %}
{% load t411_extras %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.js"></script>
<script src="{% static "js/plugins.js" %}"></script>
{% endblock %}
{% block content %}
    {% block search %}
    {% endblock %}
    
    {% block titre %}
     <h1>Top {{ type_top}} </h1>
     {% endblock %}
     
     {% block pagination %}{% endblock %}
    
 <div id="btns-categories"> 
{% for cat in btnCat %}
    {% bootstrap_button cat button_type="button" name=cat|stripspace|stripaccents button_class="btn-primary" %}
{% endfor %}
</div>
 

{% for cat , torrents in categories %}
<div id="tab-{{ cat|stripspace|stripaccents }}">
    {% if search %}
    <h2><a href="{% url "t411:search" search torrents.0.category %}">{% bootstrap_icon "search"  %}</a> {{ cat }} </h2>
    {% else %}
     <h2><a href="{% url "t411:search" " " torrents.0.category %}">{% bootstrap_icon "search"  %}</a> {{ cat }} </h2>
    {% endif %}
    
<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" >
        <thead> 
                 <tr> 
                 <td>Torrent</td> 
                 <td>Age</td> 
                 <td>Taille</td>
                 <td>Complété</td> 
                 <td>Seeders</td> 
                 <td>Leechers</td>
                 </tr> 
         </thead> 
         <tbody> 
            {% for torrent in torrents  %}
                 <tr> 
                 <td style="width:65%;"><a href="{% url "t411:detail_torrent" torrent.id %}">{{ torrent.name }}</a></td> 
                 <td style="width:10%;">{{ torrent.added }}</td> 
                 <td style="width:10%;">{{ torrent.size|taille }}</td> 
                 <td style="width:5%;">{{ torrent.times_completed }}</td>
                 <td style="width:5%;">{{ torrent.seeders }}</td> 
                 <td style="width:5%;">{{ torrent.leechers }}</td> 
                 </tr> 
            {% endfor %}
        </tbody> 
</table>
    
</div>
{% endfor %}

{% endblock %}
